
<%- include('particiones/header.ejs') -%>


  <title><%= title %></title></head>

  <ul>
    <% products.forEach(function(product) { %>
      <li><%= product.nombre %></li>
      <li><%= product.precio %></li>
      <a href="/productos/eliminar/<%= product.id %>">Eliminar</a>
    <% }); %>
  </ul>